<ul class="menu">
{% for menuItem in menuItems %}
    <li{% if menuItem.route == route %} class="active"{% endif %}>
        <a href="{{ path(menuItem.route, menuItem.routeParameters) }}">
            {{ menuItem.label }}
        </a>
    </li>
{% endfor %}
</ul>
